@import "css dosyaları/tebrik.css";
@import "css dosyaları/oynatıcı-butonlar.css";

body{
  /*background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);*/
  background-color: black;
  background-image:url("media/canva.gif");
  background-size:cover;
  background-repeat: no-repeat;
  back

}

h1{
  color: #68B799;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
footer{
  background-image: url("media/canva.gif");
}