.tebrik{
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tebrik h3{
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  text-shadow: 1px 1px rgb(102, 189, 117);
  font-style: oblique;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.tebrik img{
  border: 10px;
  border-color: aquamarine;
  width: 350px;
}