.tebrik{
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tebrik h3{
  border: 3px solid #d7e4dd;
  border-color: #BB2DE8 #68B799 #E96D67 rgb(238, 238, 26);/* transparanlık için 0.2 gibi değer ekle*/
  border-style: dashed;
  padding: 30px;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  text-shadow: 1px 1px rgb(102, 189, 117);
  font-style: oblique;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.tebrik img{
  border: 10px;
  border-color: aquamarine;
  width: 350px;
}